:root{
    --main-font: 'Ubuntu', sans-serif;;
}
body{
    background: black;
    margin: 0;
    display: flex;
    justify-content: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: #6d6c81;
    width: 80%;
    padding: 0 20px;
}
h1{
    font-family:var(--main-font)
}
span{
    font-family:var(--main-font)
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    padding-bottom: 20px;
}
img {
    max-width: none;
    min-width: auto;
    min-height: auto;
    width: 80%;
  }
.container{
    display: flex;
    justify-content: space-between;
}
.description{
    font-size: 20px;
}
#img__2{
    opacity: 0;
    position: absolute;
}
#img__3{
    opacity: 0;
    position: absolute;
}
#img__4{
    opacity: 0;
    position: absolute;
}
.description__two{
    opacity: 0;
    position: absolute;
}
.description__three{
    opacity: 0;
    position: absolute;
}
.description__four{
    opacity: 0;
    position: absolute;
}
input[type="radio"] {
    appearance: none;
  background-color: rgb(12 94 143);
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border-radius: 50%;
}
input[type="radio"]:hover{
    background-color: rgb(124, 195, 241);
}
input[type="radio"]:checked{
    border: 2px silver solid;
    background-color: rgb(9 51 76);;
}